<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/form.css' %}">
	<link rel="stylesheet" href="{% static 'css/payment.css' %}">

	<title>AdminHub</title>
</head>
<body>


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="index.html" class="brand">
			<img class='bx' alt="logo" src="{% static 'img/eagle-logo.jpg' %}" style="background-size: cover; position: relative; border-radius: 50%; padding-top: 10px;">
			
			<span class="text">ADMIN</span>
		</a>
		{%  include 'dashboard/navbar.html' %}
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			
			
		</nav>
		<!-- NAVBAR -->

		{% block content %}



		{% endblock %}
	</section>
	<!-- CONTENT -->
	
	
	<script src="{% static 'js/script.js' %}"></script>
	<script src="{% static 'js/active.js' %}"></script>
</body>
</html>